[tool.poetry]
name = "text-generation-server"
version = "0.1.0"
description = "BLOOM Inference Python gRPC Server"
authors = ["Olivier Dehaene <olivier@huggingface.co>"]

[tool.poetry.scripts]
text-generation-server = 'text_generation_server.cli:app'

[tool.poetry.dependencies]
python = ">=3.11.0,<3.13"
protobuf = "^4.25.0"
grpcio = "^1.59.2"
grpcio-reflection = "^1.59.2"
loguru = "^0.7.2"
typer = "^0.9.0"
accelerate = { version = "0.23.0", optional = true }
bitsandbytes = { version = "^0.41.1", optional = true }
scipy = { version = "^1.11.3", optional = true }
safetensors = "^0.4.0"
sentencepiece = "^0.1.99"
datasets = { version = "^2.14.6", optional = true }
texttable = { version = "^1.7.0", optional = true }
transformers = "4.35.0"
optimum = { version = "^1.14.1", extras = ["onnxruntime-gpu"], optional = true }
onnxruntime = { version = "^1.16.2", optional = true }
onnxruntime-gpu = { version = "^1.16.2", optional = true }
onnx = { version = "^1.15.0", optional = true }
einops = "^0.7.0"

# Explicitly install some transitive dependencies to avoid CVEs
mpmath = ">=1.3.0"
requests = ">=2.31.0"
certifi = ">=2023.7.22"
cryptography = ">=41.0.5"

[tool.poetry.extras]
accelerate = ["accelerate"]
# BNB doesn't declare a dep on scipy https://github.com/TimDettmers/bitsandbytes/pull/525
bnb = ["bitsandbytes", "scipy"]
onnx = ["optimum", "onnxruntime", "onnx"]
onnx-gpu = ["optimum", "onnxruntime-gpu", "onnx"]
# These are only required if using the quantize cli command
quantize = ["datasets", "texttable"]

[tool.poetry.group.dev.dependencies]
grpcio-tools = "^1.59.2"
pytest = "^7.4.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
